@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

/* ================================================================ Main Colors ================================================================= */

/* = (#0fa - Neon Green), (#bc13fe - Electric Pink), (#9900ff - Plasma Purple), (#ae8625/#f7ef8a - Gold FX) and (#fff - White) = */

/* ================================================================= Navigation ================================================================= */

.navbar {
    background-color: #fff;
}

.navbar a {
    color: #000;
}

.navbar a:hover {
    color: #0fa;
    background-color: #fff;
}


header, .btn {
    font-family: "Tektur", sans-serif;
    font-weight: 500;
}

#rules-btn {
    border-color: #fff;
    background-color: #fff;
    font-weight: 500;
}

#rules-btn:hover {
    color: #0fa;
}

/* ================================================================= Main Title ================================================================= */

.neon-home-title {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    margin-top: 75px;
    margin-bottom: 75px;
}
  
h1 {
    font-size: 4.2rem;
    min-width: fit-content;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 
            0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem  #0fa,
            0 0 0.8rem #0fa,
            0 0 2.8rem #0fa,
            inset 0 0 1.3rem #0fa;
}
  
/* Flickering animation */

@keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    
    20%, 24%, 55% {
        text-shadow: none;
    }
}

/* Flickering animation OFF for accessibility */

@media screen and (prefers-reduced-motion) { 
    
    h1 {
        animation: none;
    }
}

body {
    font-family: "Tektur", sans-serif;
    font-weight: 400;
    background-image: url('../assets/images/background.jpg');
    background-color: #fff;
}

/* ================================================================ Game Buttons =================================================================*/

#shuffle {
    color: #fff;
    border: none;
    background: none;
    font-size: 25px;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem  #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

#shuffle:hover {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #9900ff,
        0 0 82px #9900ff,
        0 0 92px #9900ff,
        0 0 102px #9900ff,
        0 0 151px #9900ff;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem  #9900ff,
        0 0 0.8rem #9900ff,
        0 0 2.8rem #9900ff,
        inset 0 0 1.3rem #9900ff;
}

#solve {
    color: #fff;
    border: none;
    background: none;
    font-size: 25px;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem  #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

#solve:hover {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #9900ff,
        0 0 82px #9900ff,
        0 0 92px #9900ff,
        0 0 102px #9900ff,
        0 0 151px #9900ff;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem  #9900ff,
        0 0 0.8rem #9900ff,
        0 0 2.8rem #9900ff,
        inset 0 0 1.3rem #9900ff;
}

#hide {
    color: #fff;
    border: none;
    background: none;
    font-size: 25px;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem  #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

#hide:hover {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #9900ff,
        0 0 82px #9900ff,
        0 0 92px #9900ff,
        0 0 102px #9900ff,
        0 0 151px #9900ff;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem  #9900ff,
        0 0 0.8rem #9900ff,
        0 0 2.8rem #9900ff,
        inset 0 0 1.3rem #9900ff;
}


/* ================================================================ Game Board =================================================================*/

.neon-start-title {
    animation: pulsate 1.5s infinite alternate;
    color: #fff;
    margin-top: 75px;
    margin-bottom: 75px;
}
  
h2 {
    font-size: 2.0rem;
    min-width: fit-content;
    white-space: nowrap;
}

/* Pulsating animation */

@keyframes pulsate {
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 8px #fff,
        0 0 10px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
}

/* Pulsating animation OFF for accessibility */

@media screen and (prefers-reduced-motion) { 
    
    h2 {
        animation: none;
    }
}

.board .row{
    padding-left: 25%;
    padding-right: 25%;
}

#game-board .row div {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: #000;
	border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #0fa,
        0 0 0.8rem #0fa,
        0 0 2.8rem #0fa,
        inset 0 0 1.3rem #0fa;
}

#game-board .row div:hover {
	cursor: pointer;
}

#game-board .row div.answer {
	border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 
        0 0 .2rem #f7ef8a,
        0 0 .2rem #f7ef8a,
        0 0 2rem #ae8625,
        0 0 0.8rem #ae8625,
        0 0 1.8rem #ae8625,
        inset 0 0 1rem #ae8625;
}

.on {
	background-color: #fff !important;
}

.not-show {
	display: none;
}

/* ================================================================ Rules Modal ================================================================= */

#rules-modal-close-btn {
    background-color: #fff;
    color: #000;
}

#rules-modal-close-btn:hover {
    color: #0fa;
}

.modal p {
    text-align: center;
}

@media (max-width:736px){
    
    .modal img {
    width: 300px;
    height: 100px;
    }
}

