@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

/* ================================================================= Main Title =================================================================*/

.neon-home-title {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    margin-top: 75px;
    margin-bottom: 75px;
}
  
h1 {
    font-size: 4.2rem;    
}
  
/* Flickering animation */

@keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    
    20%, 24%, 55% {
        text-shadow: none;
    }
}

body {
    font-family: "Tektur", sans-serif;
    font-weight: 400;
    background-color: #010a01;
}

/* ================================================================ Board =================================================================*/

